/* container */
$widthContainer: 1640px;
$paddingContainer: 20px;

/* base typography */
$baseFont: FuturaBookC_1;
$baseWeight: 300;

/* colors */
$linkColor: #172542; /* base color for <a> */
$blackColor: #172542;
$silverColor: #728EAE;
$мягкийбелыйЦвет: #9BADC2;